#scenary {

    display: none;
    height: 90vh;
    width: 90vh;
    margin: auto;
}

#board {
    border: black 2px solid;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: rgb(194, 245, 252);
    background-image: url(./assets/Grey_Brick.webp);
    background-size: 4vh;


}

td {
    position: relative;
    width: 4vw;
    height: 4vh;
    background-image: url(./assets/Grey_Brick.webp);
    background-size: 100%;
}

tr {
    position: relative;
    width: 4vw;
    height: 4vh;
}

.wall {
    background-color: grey;
    background-image: url(./assets/Grey_Block.webp);
    background-repeat: no-repeat;
    background-size: 4vh;

}

.player{
    width: 20px;
    height: 20px;
    background-image: url(./assets/tankdown.png);
    background-repeat: no-repeat;
    background-size: 4vh;
}

.up {
    background-image: url("./assets/tankup.png"), url(./assets/Grey_Brick.webp);
}


.down {
    background-image: url("./assets/tankdown.png"), url(./assets/Grey_Brick.webp);
}


.left {
    background-image: url("./assets/tankleft.png"), url(./assets/Grey_Brick.webp);
}


.right {
    background-image: url("./assets/tankright.png"), url(./assets/Grey_Brick.webp);
}



.enemy {

    width: 20px;
    height: 20px;
    background-image: url(./assets/tanks\(2\).png);
    background-repeat: inherit ;
    background-size: 4vh;

}

.upenemy {
    background-image: url("./assets/enemyUp.png"), url(./assets/Grey_Brick.webp);
}


.downenemy {
    background-image: url("./assets/enemyDown.png"), url(./assets/Grey_Brick.webp);
}


.leftenemy {
    background-image: url("./assets/enemyLeft.png"), url(./assets/Grey_Brick.webp);
}


.rightenemy {
    background-image: url("./assets/enemyRight.png"), url(./assets/Grey_Brick.webp);
}
.bullet {
    
    z-index: 1;
    background-image: url(./assets/bubble-removebg-preview.png);
    background-repeat: no-repeat;
    margin: 0 auto ;

}
#start button {
    background-image: url(./assets/defi_start_button.png);
    background-size: 100%;
    cursor: pointer;
    height: 17vh;
    width: 25vw;
    border: none;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 60%;


}

#start {

    background-size: 100%;
    background-image: url(./assets/chasre_walpp.png);
    height: 90vh;
    width: 90vw;
    border: none;
    position: absolute;
    margin: auto; 
    background-repeat: no-repeat;
    top: 5%;
    left: 5%;
    transition: opacity;
    filter: blur(10px);

}