#scenary {


    height: 90vh;
    width: 90vh;
    margin: auto;
}

#board {
    border: black 2px solid;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: rgb(194, 245, 252);
    background-image: url(./assets/Grey_Brick.webp);
    background-size: 4vh
    
}

td {
    border: black 0.1px solid;
    width: 20px;
    height: 20px;
}

tr {
    border: black 2px solid;
    width: 20px;
    height: 20px;
}

.wall {
    background-color: grey;
    background-image: url(./assets/Grey_Block.webp);
    background-repeat: no-repeat;
    background-size: 4vh
    
}

.player{
    width: 20px;
    height: 20px;
    background-image: url(./assets/tanks\(4\).png);
    background-repeat: no-repeat;
    background-size: 4vh
}

.enemy {
   
    width: 20px;
    height: 20px;
    background-image: url(./assets/tanks\(2\).png);
    background-repeat: no-repeat;
    background-size: 4vh

}
.bullet {

    width: 5px;
    height: 5px;
    background-color: black;

}
